# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
ENV/
archive/
static/

# SQLite
*.sqlite
*.db

# Flask
instance/
.webassets-cache
flask_session/

# Logs
logs/
*.log
log.txt
todo.md

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store