{% extends "base.html" %}
{% from "includes/_forms.html" import render_form_field %}

{% block title %}Add Student{% endblock %}

{% block content %}

{% set breadcrumbs = [
    (url_for('students.studentsList'), 'Students', False, 'student-link'),
    (None, 'Add Student', True, None)
] %}
{% include 'includes/_page_header.html' with title='Add Student', breadcrumbs=breadcrumbs %}

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form
          method="POST"
          action="{{ url_for('students.addStudent') }}" {# Corrected endpoint name from original #}
          enctype="multipart/form-data"
        >
          {# Assuming Flask-WTF is not used here, so no form.csrf_token. If it were, it'd be {{ form.csrf_token }} #}
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Student Information
                <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span>
              </h5>
            </div>

            {{ render_form_field(name='first_name', label='First Name', required=True, placeholder='Enter First Name') }}
            {{ render_form_field(name='last_name', label='Last Name', required=True, placeholder='Enter Last Name') }}
            {{ render_form_field(name='patronymic', label='Patronymic', required=True, placeholder='Enter Patronymic Name') }}
            {# Original date field had id="datePicker no_min" and min="" #}
            {{ render_form_field(name='dob', label='Date Of Birth', field_type='date', required=True, placeholder='DD-MM-YYYY', id='datePicker no_min', input_class='no_min') }}
            {{ render_form_field(name='email', label='E-Mail', field_type='email', required=True, placeholder='Enter Email Address') }}

            {% set group_options = [
                ('Group A', 'Group A'),
                ('Group B', 'Group B'),
                ('Group C', 'Group C')
            ] %}
            {# The actual group data should come from the backend view function #}
            {{ render_form_field(name='group', label='Group', field_type='select', required=True, placeholder='Please Select Group', options=group_options, value=request.form.get('group')) }}
            {{ render_form_field(name='phone', label='Phone', field_type='tel', placeholder='Enter Phone Number') }}
            {{ render_form_field(name='photo', label='Upload Student Photo (150px X 150px)', field_type='file', accept='image/*', input_class='students-up-files') }}

            {# Address field was missing in add-student but present in edit-student and student list, adding it for completeness #}
            {{ render_form_field(name='address', label='Address', placeholder='Enter Address', col_class='col-12 col-sm-8') }}


            <div class="col-12" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>

            {# Excel Upload Section - kept specific as it's unique to this form #}
            <div class="col-12">
              <div class="form-group local-forms" style="border-top: solid 1px gainsboro; margin-top: 1.5rem; padding-top:1.5rem;">
                 <h5 class="form-title student-info">Bulk Upload</h5>
              </div>
            </div>

            <div class="col-12 col-sm-4">
                {{ render_form_field(name='excel_file', label='Upload Student(s) by Excel File', field_type='file', accept='.xls,.xlsx', input_class='students-up-files') }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
