{% extends "base.html" %}

{% block title %}Student List{% endblock %}

{% block content %}
<div class="page-wrapper">
               <div class="content container-fluid">

                    <div class="page-header">
                         <div class="row align-items-center">
                              <div class="col-sm-12">
                                   <div class="page-sub-header">
                                        <h3 class="page-title">Add Students</h3>
                                        <ul class="breadcrumb">
                                             <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                                             <li class="breadcrumb-item active">Add Students</li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="row">
                         <div class="col-sm-12">
                              <div class="card comman-shadow">
                                   <div class="card-body">
                                        <form method="POST" action="{{ url_for('addSubjects') }}"
                                             enctype="multipart/form-data">

                                             <div class="row">
                                                  <div class="col-12">
                                                       <h5 class="form-title student-info">Student Information <span><a
                                                                      href="javascript:;"><i
                                                                           class="feather-more-vertical"></i></a></span>
                                                       </h5>
                                                  </div>
                                                  <div class="col-12 col-sm-4">
                                                       <div class="form-group local-forms">
                                                            <label>Subject Name <span
                                                                      class="login-danger">*</span></label>
                                                            <input class="form-control" type="text" name="subject_name"
                                                                 placeholder="Enter Subject Name">
                                                       </div>
                                                  </div>
                                                  <div class="col-12 col-sm-4">
                                                       <div class="form-group local-forms">
                                                            <label>Group Name <span class="login-danger">*</span></label>
                                                            <input class="form-control" type="text" name="group_name"
                                                                 placeholder="Enter Group Name">
                                                       </div>
                                                  </div>
                                                  <div class="col-12 col-sm-4">
                                                       <div class="form-group local-forms calendar-icon">
                                                            <label>End Time <span
                                                                 class="login-danger">*</span></label>
                                                                 <input class="form-control datetimepicker" type="text"
                                                                 name="end_time" placeholder="Temporary time">
                                                       </div>
                                                  </div>
                                                  <div class="col-12 col-sm-4">
                                                       <div class="form-group local-forms">
                                                            <label>Text <span class="login-danger">*</span></label>
                                                            <input class="form-control" type="text" name="messenge"
                                                                      placeholder="Add Some Text">
                                                       </div>
                                                  </div>
                                                  <div class="col-12 col-sm-4">
                                                       <div class="form-group students-up-files">
                                                            <label>Upload Student Photo (150px X 150px)</label>
                                                            <div class="uplod">
                                                                 <label class="file-upload image-upbtn mb-0">
                                                                      Choose File <input type="file" name="photo">
                                                                 </label>
                                                            </div>
                                                       </div>
                                                  </div>

                                                  <div class="col-12">
                                                       <div class="student-submit">
                                                            <button type="submit"
                                                                 class="btn btn-primary">Submit</button>
                                                       </div>
                                                  </div>
                                             </div>
                                        </form>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

{% endblock %}