<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>{% block title %}{% endblock %}</title>
    {% block link %}{% endblock %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='css/assets/img/favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
      integrity="sha384-9DxMyy0pZgC40Za3q+PG8MB0VLhEaKGJ1fQ9NYtzkxKRKFoEvP/iMpNLZmY3qjK3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/plugins/bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/plugins/feather/feather.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/plugins/icons/flags/flags.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/plugins/fontawesome/css/fontawesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/plugins/fontawesome/css/all.min.css') }}"
    />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/plugins/datatables/datatables.min.css') }}"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/plugins/select2/css/select2.min.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/assets/css/style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/assets/css/subjCards.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assets/css/chat.css') }}"
    />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assets/css/chat.scss') }}"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/assets/css/chat.css') }}"
    /> -->

    <!-- <link rel="stylesheet" href="../static/css/assets/plugins/fontawesome/css/fontawesome.min.css">
     <link rel="stylesheet" href="../static/css/assets/plugins/fontawesome/css/all.min.css">
     <link rel="stylesheet" href="../static/css/assets/plugins/datatables/datatables.min.css">
     
     <link rel="stylesheet" href="../static/css/assets/plugins/select2/css/select2.min.css">
     <link rel="stylesheet" href="../static/css/assets/css/style.css">
     <link rel="shortcut icon" href="../static/images/icon.jpg" style="border-radius:50%"> -->
  </head>

  <body>
    <div class="main-wrapper">
      <div class="header">
        <div class="header-left">
          <a href="/dashboard" class="logo">
            <div style="display: flex; align-items: center">
              <img
                src="{{ url_for('static', filename='images/icon.jpg') }}"
                alt="Logo"
              />
              <h6 style="margin-bottom: 0; margin-left: 22px">Polytech</h6>
            </div>
          </a>
          <a href="/dashboard" class="logo logo-small">
            <img
              src="{{ url_for('static', filename='images/icon.jpg') }}"
              alt="Logo"
              width="30"
              height="30"
            />
          </a>
        </div>

        <div class="menu-toggle">
          <a href="javascript:void(0);" id="toggle_btn">
            <!-- <img src="KFOmCnqEu92Fr1Mu4mxK.woff2"> -->
            <!-- <i class="icon-bar"></i> -->
            <i class="fa-solid fa-bars"></i>
          </a>
        </div>

        <div class="top-nav-search">
          <form>
            <input type="text" class="form-control" placeholder="Search here" />
            <button class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>

        <a class="mobile_btn" id="mobile_btn">
          <i class="fas fa-bars"></i>
        </a>

        <ul class="nav user-menu">
          <li class="nav-item dropdown noti-dropdown language-drop me-2">
            <a
              href="#"
              class="dropdown-toggle nav-link header-nav-list"
              data-bs-toggle="dropdown"
            >
              <img
                src="../static/css/assets/img/icons/header-icon-01.svg"
                alt=""
              />
            </a>
            <div class="dropdown-menu">
              <div class="noti-content">
                <div>
                  <a class="dropdown-item" href="javascript:;"
                    ><i class="flag flag-lr me-2"></i>English</a
                  >
                  <a class="dropdown-item" href="javascript:;"
                    ><i class="flag flag-bl me-2"></i>Aremnia</a
                  >
                  <a class="dropdown-item" href="javascript:;"
                    ><i class="flag flag-cn me-2"></i>Russia</a
                  >
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown noti-dropdown me-2">
            <a
              href="#"
              class="dropdown-toggle nav-link header-nav-list"
              data-bs-toggle="dropdown"
            >
              <img
                src="{{ url_for('static', filename='css/assets/img/icons/header-icon-05.svg') }}"
                alt=""
              />
            </a>
            <div class="dropdown-menu notifications">
              <div class="topnav-dropdown-header">
                <span class="notification-title">Notifications</span>
                <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
              </div>
              <div class="noti-content">
                <ul class="notification-list">
                  <!-- <li class="notification-message">
                    <a href="#">
                      <div class="media d-flex">
                        <span class="avatar avatar-sm flex-shrink-0">
                          <img
                            class="avatar-img rounded-circle"
                            alt="User Image"
                            src="{{ url_for('static', filename='css/assets/img/profiles/avatar-02.jpg') }}"
                          />
                        </span>
                        <div class="media-body flex-grow-1">
                          <p class="noti-details">
                            <span class="noti-title">Carlson Tech</span> has
                            approved
                            <span class="noti-title">your estimate</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">4 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li> -->
                </ul>
              </div>
              <div class="topnav-dropdown-footer">
                <a href="#">View all Notifications</a>
              </div>
            </div>
          </li>

          <li class="nav-item zoom-screen me-2">
            <a
              href="#"
              class="nav-link header-nav-list win-maximize"
              id="fullscreenIcon"
            >
              <img
                src="{{ url_for('static', filename='css/assets/img/icons/header-icon-04.svg') }}"
                alt=""
              />
            </a>
          </li>

          <li class="nav-item dropdown has-arrow new-user-menus">
            <a
              href="#"
              class="dropdown-toggle nav-link"
              data-bs-toggle="dropdown"
            >
              <span class="user-img">
                <img
                  class="rounded-circle"
                  src="{{ url_for('static', filename='css/assets/img/profiles/avatar-01.jpg') }}"
                  width="31"
                  alt="Ryan Taylor"
                />
                <div class="user-text">
                  <h6>{{ session['first_name'] }} {{ session['last_name']}}</h6>
                  {% if session['is_Admin'] == 'True' %}
                  <p class="text-muted mb-0">Admin</p>
                  {% endif %} {% if session['is_Admin'] == 'False' %}
                  <p class="text-muted mb-0">
                    {{ session['type'].capitalize() }}
                  </p>
                  {% endif %}
                </div>
              </span>
            </a>
            <div class="dropdown-menu">
              <div class="user-header">
                <div class="avatar avatar-sm">
                  <img
                    src="{{ url_for('static', filename='css/assets/img/profiles/avatar-01.jpg') }}"
                    alt="User Image"
                    class="avatar-img rounded-circle"
                  />
                </div>
                <div class="user-text">
                  <h6>{{ session['first_name'] }} {{ session['last_name']}}</h6>
                  {% if session['is_Admin'] == 'True' %}
                  <p class="text-muted mb-0">Admin</p>
                  {% endif %} {% if session['is_Admin'] == 'False' %}
                  <p class="text-muted mb-0">
                    {{ session['type'].capitalize() }}
                  </p>
                  {% endif %}
                </div>
              </div>
              <a class="dropdown-item" href="profile.html">My Profile</a>
              <a class="dropdown-item" href="inbox.html">Inbox</a>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </li>
        </ul>
      </div>

      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li class="menu-title">
                <span>Main Menu</span>
              </li>
              <li
                class="submenu {{ 'active' if 'dashboard' in request.path else '' }}"
              >
                <a href="#">
                  <i class="feather-grid"></i> <span> Dashboard</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li>
                    <a
                      href="/dashboard"
                      class="{{ 'active' if 'dashboard' in request.path else '' }}"
                      >Admin Dashboard</a
                    >
                  </li>
                  <!-- {% if session['is_Admin'] == 'True' %}
                  <li>
                    <a href="teacher-dashboard.html">Teacher Dashboard</a>
                  </li>
                  <li>
                    <a href="student-dashboard.html">Student Dashboard</a>
                  </li>
                  {% endif %} -->
                </ul>
              </li>

              <li
                class="submenu {{ 'active' if request.path.startswith('/students') else '' }}"
              >
                <a href="#"
                  ><i class="fas fa-graduation-cap"></i> <span> Students</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li>
                    <a
                      href="/students"
                      class="{{ 'active' if '/students' in request.path and '/students/' not in request.path else '' }}"
                      >Student List</a
                    >
                  </li>
                  {% if session['is_Admin'] == 'True' %}
                  <li>
                    <a
                      href="/students/add-student"
                      class="{{ 'active' if '/students/add-student' in request.path else '' }}"
                      >Student Add</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </li>
              {% if session['type'] == 'admin' %}
              <li
                class="submenu {{ 'active' if 'teachers' in request.path else '' }}"
              >
                <a href="#"
                  ><i class="fas fa-chalkboard-teacher"></i>
                  <span> Teachers</span> <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li>
                    <a
                      href="/teachers"
                      class="{{ 'active' if '/teachers' in request.path and '/teachers/' not in request.path else '' }}"
                      >Teacher List</a
                    >
                  </li>
                  {% if session['is_Admin'] == 'True' %}
                  <li>
                    <a
                      href="/teachers/add-teacher"
                      class="{{ 'active' if '/teachers/add-teacher' in request.path else '' }}"
                      >Teacher Add</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </li>
              {% endif %} {% if session['is_Admin'] == 'False' %}
              <li
                class="submenu {{ 'active' if 'subject' in request.path else '' }}"
              >
                <a href="#"
                  ><i class="fas fa-book-reader"></i> <span> Subjects</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li>
                    <a
                      href="/subjects"
                      class="{{ 'active' if 'subjects' in request.path else '' }}"
                      >Subject List</a
                    >
                  </li>
                  {% if session['is_Lecturer'] == 'True' %}
                  <li>
                    <a
                      href="/add-subject"
                      class="{{ 'active' if 'add-subject' in request.path else '' }}"
                      >Subject Add</a
                    >
                  </li>
                  <li>
                    <a
                      href="/subjects"
                      class="{{ 'active' if 'edit-subject' in request.path else '' }}"
                      >Subject Edit</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </li>
              <li
                class="submenu {{ 'active' if 'exercise' in request.path else '' }}"
              >
                <a href="#"
                  ><i class="fa-solid fa-briefcase"></i><span> Exercise</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li>
                    <a
                      href="/exercises"
                      class="{{ 'active' if '/exercise' in request.path else '' }}"
                      >Exercise List</a
                    >
                  </li>
                  {% if session['is_Lecturer'] == 'True' %}
                  <li>
                    <a
                      href="/add-exercise"
                      class="{{ 'active' if '/add-exercise' in request.path else '' }}"
                      >Exercise Add</a
                    >
                  </li>
                  <li>
                    <a
                      href="/exercises"
                      class="{{ 'active' if '/edit-exercise' in request.path else '' }}"
                      >Exercise Edit</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </li>
              {% endif %} {% if session['type'] == 'lecturer' %}
              <li class="submenu1">
                <a
                  href="/waitingroom"
                  class="{{ 'active' if '/waitingroom' in request.path else '' }}"
                  ><i class="fa-regular fa-clock"></i
                  ><span>Waiting Room</span></a
                >
              </li>
              {% endif %} {% if session['type'] == 'admin' %}
              <li class="submenu1">
                <a
                  href="/add-news"
                  class="{{ 'active' if '/add-news' in request.path else '' }}"
                  ><i class="fa-regular fa-newspaper"></i>
                  <span>Add News</span></a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <div class="content container-fluid">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

    <!-- <script src="../static/css/assets/js/jquery-3.6.0.min.js"></script>

     <script src="../static/css/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

     <script src="../static/css/assets/js/feather.min.js"></script>

     <script src="../static/css/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

     <script src="../static/css/assets/plugins/apexchart/apexcharts.min.js"></script>
     <script src="../static/css/assets/plugins/apexchart/chart-data.js"></script>

     <script src="../static/css/assets/js/script.js"></script>
     
     <script src="../static/css/assets/plugins/select2/js/select2.min.js"></script>
     <script src="../static/css/assets/js/bootstrap-datetimepicker.min.js"></script>
     <script src="../static/css/assets/plugins/datatables/datatables.min.js"></script>-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="{{ url_for('static', filename='css/assets/js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/plugins/apexchart/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/plugins/apexchart/chart-data.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/assets/js/chat.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Function to truncate a file name to a given length
      function truncateFileName(fileName, maxLength) {
        if (fileName.length <= maxLength) {
          return fileName;
        }

        const startLength = Math.floor((maxLength - 3) / 2);
        const endLength = maxLength - startLength - 3;

        const truncatedName =
          fileName.substring(0, startLength) +
          "..." +
          fileName.substring(fileName.length - endLength);

        return truncatedName;
      }

      // Function to update the file name when a file is selected
      function updateFileName() {
        const fileInput = document.getElementById("fileInput");
        const fileLabel = document.getElementById("fileLabel");
        const errorContainer = document.getElementById("errorContainer");

        if (fileInput.files.length > 0) {
          const selectedFile = fileInput.files[0];

          // Check if the file size exceeds the limit (e.g., 10MB)
          const maxSizeInBytes = 10 * 1024 * 1024; // 10MB

          if (selectedFile.size > maxSizeInBytes) {
            // Display error message
            errorContainer.style.display = "block";
            errorContainer.textContent =
              "File size exceeds the limit (10MB). Please choose a smaller file.";

            // Clear the file input
            fileInput.value = "";

            return;
          }

          const selectedFileName = selectedFile.name;
          fileLabel.textContent = truncateFileName(selectedFileName, 30);

          // Clear any previous error message
          errorContainer.style.display = "none";
          errorContainer.textContent = "";
        } else {
          fileLabel.textContent = "";

          // Clear any previous error message
          errorContainer.style.display = "none";
          errorContainer.textContent = "";
        }
      }
    </script>

    <script>
      // Get the current date in ISO format (YYYY-MM-DD)
      const today = new Date().toISOString().split("T")[0];
      document.getElementById("datePicker").setAttribute("min", today);
    </script>

    <script>
      // JavaScript to enable full-screen mode
      const fullscreenIcon = document.getElementById("fullscreenIcon");
      const content = document.documentElement; // Get the root element (usually the <html> element)

      // Function to toggle full-screen mode
      function toggleFullScreen() {
        if (!document.fullscreenElement) {
          content.requestFullscreen().catch((err) => {
            console.error(
              `Error attempting to enable full-screen mode: ${err.message}`
            );
          });
        } else {
          document.exitFullscreen();
        }
      }

      // Event listener for clicking the full-screen icon
      fullscreenIcon.addEventListener("click", toggleFullScreen);
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        // Function to update the HTML with the exercises information and time ago
        function updateExercises(response) {
          $(".notification-list").empty();
          response.forEach(function (exercise) {
            var message = `
                      <li class="notification-message">
                          <a href="/exercises"><div class="media d-flex">
                              <span class="avatar avatar-sm flex-shrink-0">
                                  <img class="avatar-img rounded-circle" alt="User Image" src="{{ url_for('static', filename='css/assets/img/profiles/avatar-02.jpg') }}">
                              </span>
                              <div class="media-body flex-grow-1">
                                  <p class="noti-details">
                                      <span class="noti-title">${
                                        exercise[3]
                                      }</span> ${exercise[4]}
                                  </p>
                                  <p class="noti-time" data-timestamp="${
                                    exercise[7]
                                  }">
                                      <span class="notification-time">${timeAgo(
                                        exercise[7]
                                      )}</span>
                                  </p>
                              </div>
                          </div>
                          </a>
                      </li>
                  `;
            $(".notification-list").append(message);
          });
        }

        // Function to calculate time ago
        function timeAgo(timestamp) {
          var currentTime = new Date().getTime();
          var receivedTime = timestamp; // Assuming the timestamp is in seconds
          var elapsedTime = currentTime - receivedTime;
          var seconds = Math.floor(elapsedTime / 1000);
          var minutes = Math.floor(seconds / 60);
          var hours = Math.floor(minutes / 60);
          var days = Math.floor(hours / 24);
          console.log(minutes);

          if (days > 0) {
            return days + " days ago";
          } else if (hours > 0) {
            return hours + " hours ago";
          } else if (minutes > 0) {
            return minutes + " minutes ago";
          } else {
            return "Just now";
          }
        }

        // Function to update time every minute
        function updateTime() {
          $(".notification-time").each(function () {
            var timestamp = JSON.parse(localStorage.getItem("exercisesData"));
            $(this).text(timeAgo(timestamp));
          });
        }

        // Function to check for changes in exercises and update the HTML
        function checkExercisesChanges() {
          var previousExercises =
            JSON.parse(localStorage.getItem("exercisesData")) || [];
          var currentTime = new Date().getTime();
          getExercisesLocalStorage();
          $.ajax({
            url: "/check_exercises_changes",
            type: "GET",
            success: function (response) {
              // Check if the received exercises are different from the previous ones
              if (check(previousExercises, response)) {
                updateExercises(response); // Call the updateExercises function with the response
                response[0].push(currentTime);
                localStorage.setItem("exercisesData", JSON.stringify(response)); // Store the received exercises in local storage
              }
            },
          });
        }

        function check(arr1, arr2) {
          for (var i = 0; i < arr1.length; i++) {
            if (JSON.stringify(arr1[i]) !== JSON.stringify(arr2)) return false;
          }
          return true;
        }

        function getExercisesLocalStorage() {
          var previousExercises =
            JSON.parse(localStorage.getItem("exercisesData")) || [];
          console.log(previousExercises);
          updateExercises(previousExercises);
        }

        getExercisesLocalStorage();
        // Initial call to check for exercises changes
        checkExercisesChanges();

        // Check for changes every 1 minute (60000 milliseconds)
        setInterval(checkExercisesChanges, 60000);
      });
    </script>

    <script>
      // Get the base URL from the window location
      var baseUrl = window.location.origin;

      // Select the anchor tag by its id
      var studentLink = document.getElementById("student-link");
      var subjectLink = document.getElementById("subject-link");
      if (studentLink) {
        // Set the href attribute to the base URL concatenated with the desired endpoint
        studentLink.href = baseUrl + "/students";
      } else if (subjectLink) {
        // Do the same action as in the first condition
        subjectLink.href = baseUrl + "/subjects";
      }
    </script>
  </body>
</html>
