{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-sub-header">
        <h3 class="page-title">Welcome {{ session['type'].capitalize() }}</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Admin</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% if session['type'] == 'student' %} {% for data in data['files'] %}
<div class="subj-card">
  <h3 class="subject_name">{{ data['subject_name'][:20] }}</h3>
  <table
    class="table border-0 star-student table-hover table-center mb-0 datatable table-striped"
  >
    <thead class="student-thread">
      <tr>
        <th>File</th>
        <th>Descripiton</th>
      </tr>
    </thead>
    <tbody>
      {% for file in data['files'] %}
      <tr>
        <td>
          {% if file['file_type'] in ('.doc', '.docx') %}
          <img
            src="../static/css/assets/img/icons/doc.png"
            style="width: 20px; height: 20px; align-items: cneter; margin: 0"
          />
          {% elif file['file_type'] in ('.pdf') %}
          <img
            src="../static/css/assets/img/icons/pdf.png"
            style="width: 20px; height: 20px; align-items: cneter; margin: 0"
          />
          {% endif %}
          <a
            href="{{ url_for('show_file', filename=file['file_name']) }}"
            target="_blank"
            >{{ file['file_name'][:10] }}...</a
          >
        </td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

<div class="row">
  <div class="col-md-12 col-lg-6"></div>
  <div class="col-md-12 col-lg-6"></div>
</div>

{% endif %}
<div class="row">
  {% if session['type'] == 'lecturer' %} {% for group_name, group in
  data['group_datas'].items()%}
  <div class="col-xl-6 d-flex">
    <div class="card flex-fill student-space comman-shadow">
      <div class="card-header d-flex align-items-center">
        <h5 class="card-title">{{group_name}}</h5>
        <ul class="chart-list-out student-ellips">
          <li class="star-menus">
            <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table star-student table-hover table-center table-borderless table-striped"
          >
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="text-center">Marks</th>
                <th class="text-center">Percentage</th>
                <th class="text-end">Year</th>
              </tr>
            </thead>
            <tbody>
              {% for student_data in group.student_datas %}
              <tr>
                <td class="text-nowrap">
                  <div>{{student_data['id']}}</div>
                </td>
                <td class="text-nowrap">
                  <a href="profile.html">
                    <img
                      class="rounded-circle"
                      src="../static/css/assets/img/profiles/avatar-02.jpg"
                      width="25"
                      alt="Star Students"
                    />
                    {{student_data['last_name']}} {{
                    student_data['first_name']}}
                  </a>
                </td>
                <td class="text-center">1185</td>
                <td class="text-center">98%</td>
                <td class="text-end">
                  <div>{{student_data['birthday_date']}}</div>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %} {% if session['type'] == 'admin' %}
  <div class="col-xl-6 d-flex">
    <div class="card flex-fill comman-shadow">
      <div class="card-header d-flex align-items-center">{{ div | safe }}</div>
    </div>
  </div>
  {% endif %}

  <div class="col-xl-6 d-flex">
    <div class="card flex-fill comman-shadow">
      <div class="card-header d-flex align-items-center">
        <h5 class="card-title">Student Activity</h5>
        <ul class="chart-list-out student-ellips">
          <li class="star-menus">
            <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="activity-groups">
          <div class="activity-awards">
            <div class="award-boxs">
              <img
                src="../static/css/assets/img/icons/award-icon-01.svg"
                alt="Award"
              />
            </div>
            <div class="award-list-outs">
              <h4>1st place in "Chess”</h4>
              <h5>John Doe won 1st place in "Chess"</h5>
            </div>
            <div class="award-time-list">
              <span>1 Day ago</span>
            </div>
          </div>
          <div class="activity-awards">
            <div class="award-boxs">
              <img
                src="../static/css/assets/img/icons/award-icon-02.svg"
                alt="Award"
              />
            </div>
            <div class="award-list-outs">
              <h4>Participated in "Carrom"</h4>
              <h5>Justin Lee participated in "Carrom"</h5>
            </div>
            <div class="award-time-list">
              <span>2 hours ago</span>
            </div>
          </div>
          <div class="activity-awards">
            <div class="award-boxs">
              <img
                src="../static/css/assets/img/icons/award-icon-03.svg"
                alt="Award"
              />
            </div>
            <div class="award-list-outs">
              <h4>Internation conference in "St.John School"</h4>
              <h5>
                Justin Leeattended internation conference in "St.John School"
              </h5>
            </div>
            <div class="award-time-list">
              <span>2 Week ago</span>
            </div>
          </div>
          <div class="activity-awards mb-0">
            <div class="award-boxs">
              <img
                src="../static/css/assets/img/icons/award-icon-04.svg"
                alt="Award"
              />
            </div>
            <div class="award-list-outs">
              <h4>Won 1st place in "Chess"</h4>
              <h5>John Doe won 1st place in "Chess"</h5>
            </div>
            <div class="award-time-list">
              <span>3 Day ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ script | safe }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  // Load the Plotly graph using the JSON data
  var graphDiv = document.getElementById("user-activity-graph");
  var graphData = JSON.parse("{{ graph_json | safe }}");
  Plotly.react(graphDiv, graphData, {});
</script>

<script
  src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.0.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.0.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.0.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.3.0.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.3.0.min.js"
  crossorigin="anonymous"
></script>
{% endblock %}
