{% extends "base.html" %} {% block title %}Edit Teacher{% endblock %} {% block
link %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/multi-select-tag.css') }}"
/>
<script src="/static/js/multi-select-tag.js"></script>
{% endblock %} {% block content %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col-sm-12">
      <div class="page-sub-header">
        <h3 class="page-title">Edit Teacher</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a id="student-link" href="#">Teacher</a>
          </li>
          <li class="breadcrumb-item active">Edit Teacher</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form
          method="POST"
          action="{{ url_for('editTeacher', id=data['id']) }}"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Teacher Information
                <span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>First Name </label>
                <input
                  class="form-control"
                  type="text"
                  name="first_name"
                  value="{{data['first_name']}}"
                  placeholder="{{data['first_name']}}"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Last Name </label>
                <input
                  class="form-control"
                  type="text"
                  name="last_name"
                  value="{{data['last_name']}}"
                  placeholder="{{data['last_name']}}"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Academic Degree </label>
                <input
                  class="form-control"
                  type="text"
                  name="academic_degree"
                  value="{{data['academic_degree']}}"
                  placeholder="{{data['academic_degree']}}"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Position </label>
                <input
                  class="form-control"
                  type="text"
                  name="position"
                  value="{{data['position']}}"
                  placeholder="{{data['position']}}"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>E-Mail </label>
                <input
                  class="form-control"
                  type="text"
                  name="email"
                  placeholder="{{data['email']}}"
                />
              </div>
            </div>

            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Group Name(s)<span class="login-danger">*</span></label>
                <select name="countries" id="countries" multiple>
                  <option value="12">Group A</option>
                  <option value="13">Group B</option>
                  <option value="1">ՏՏ018</option>
                  <option value="2">ՏՏ019</option>
                  <option value="3">ՏՏ020</option>
                  <option value="4">ՏՏ021</option>
                  <option value="5">ՏՏ022</option>
                  <option value="6">ՏՏ023</option>
                  <option value="7">ՏՏ024</option>
                  <option value="8">ՏՏ025</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Phone </label>
                <input
                  class="form-control"
                  type="text"
                  name="phone"
                  value="{{data['phone']}}"
                  placeholder="{{data['phone']}}"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group students-up-files">
                <label>Upload teacher Photo (150px X 150px)</label>
                <div class="uplod">
                  <label class="file-upload image-upbtn mb-0">
                    Choose File <input type="file" name="photo" />
                  </label>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">
                  Save Change
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  new MultiSelectTag("countries"); // id
</script>
{% endblock %}
