<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
     integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
     crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
    <link rel="shortcut icon" href="../static/images/icon.jpg" style="border-radius:50%">
    <title>IT ambion</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="../static/images/icon.jpg"></a> 
        </div>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/">Գլխավոր</a></li>
                    <li><a href="/roadmap" style="font-weight: bolder;">Մեր roadmap-ը</a></li>
                    <li><a href="/login">կապ մեզ հետ</a></li>
                </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>	  
    <section>
        <div class="container">

            <div class="contactInfo">
                <div>
                    <h2>Կապի տվյալներ</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa-solid fa-location-dot"></i></span>
                            <span>105 Teryan St, Yerevan</span>
                        </li>
                        <li>
                            <span><i class="fa-solid fa-envelope"></i></span>
                            <span>kdure@gmail.com</span>
                        </li>
                        <li>
                            <span><i class="fa-solid fa-phone"></i></span>
                            <span>+998345235</span>
                        </li>
                    </ul>
                </div>
                <ul class="sci">
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="contactForm">
                <!-- <h2>Ուղարկեք ձեր նամակը մեզ</h2> -->
                <div class="formBox">
                    <form  method="post">
                        {{ form.csrf_token }}
                        <div class="inputBox w50">
                            <input type="text" id="username" name="username" required>
                            <span>Username</span>
                        </div>
                        <div class="inputBox w50">
                            <input type="password" name="password" required>
                            <span>password</span>
                        </div>
                        <div class="inputBox w100">
                            <input type="submit" name="submit" value="Register">
                        </div>
                    </form>
                </div>
            </div>
            
    </section>
</body>
</html>