{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('message', function (data) {
        var message = data.message;
        var senderId = data.sender_id;
        console.log(data);
        // Determine if the message was sent by the receiver
        var isReceiver = senderId !== '{{ current_user.id }}';

        // Add a class to style the message
        // var messageClass = isReceiver ? 'receiver-message' : 'sender-message';
        var messageClass = isReceiver ? 'you' : 'me';

        // Append the message to the messages list with the appropriate class
        $('#messages').append($('<li class="' + messageClass + '">').text(message));
    });
    $(function () {
        $('#sendButton').click(function () {
            var message = $('#messageInput').val();
            socket.emit('message', { message: message, sender_id: '{{ current_user.id }}' });
            $('#messageInput').val('');
        });
    });
</script>

{% endblock %}