<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./roadmap.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/icon.png" style="border-radius:50%">
  </head>
<body>

<nav>
    <div class="logo">
        <a href="index2.html"><img src="./images/icon.png"></a> 
    </div>
    <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="./index2.html">Գլխավոր</a></li>
                <li><a href="./roadmap.html">Մեր roadmap-ը</a></li>
                <li><a href="./contact.html">կապ մեզ հետ</a></li>
            </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>	  

<!-- timeline start-->

<div class="container">
    
    <div class="top-section">
    <h1>Մեր Roadmap-ը</h1>
    </div>

    <div class="timeline">
           <div class="line"></div>
                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <h2>   Frontend </h2>
                        <!-- <h3>   Css Module</h3>
                        <p>Flex box</p>
                        <p>grid</p> -->
                        <p>Front-end ծրագրավորողը ստեղծում է կայքեր և հավելվածներ՝ օգտագործելով վեբ լեզուները, ինչպիսիք են HTML-ը, CSS-ը և JavaScript-ը, որոնք թույլ են տալիս օգտվողներին մուտք գործել կայք կամ հավելված և շփվել դրանց հետ: Երբ այցելում եք կայք, դիզայնի տարրերը, որոնք տեսնում եք, ստեղծվել են ճակատային ծրագրավորողի կողմից:
                        </p>
                    </div>
                </div>

                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <h2>Backend </h2>
                        <p>Back-end ծրագրավորողներն այն փորձագետներն են, ովքեր կառուցում և պահպանում են մեխանիզմներ, որոնք մշակում են տվյալները և կատարում գործողություններ կայքերում: Ի տարբերություն Frontend ծրագրավորողների, ովքեր վերահսկում են այն ամենը, ինչ դուք կարող եք տեսնել վեբկայքում, Backend ծրագրավորողները ներգրավված են տվյալների պահպանման, անվտանգության և սերվերի կողմից այլ գործառույթներում, որոնք դուք չեք կարող տեսնել:
                        </p>
                    </div>
                </div>

                <div class="section">
                    <div class="bead"></div>
                    <div class="content">
                        <h2>Cloud </h2>
                        <p>Ընդհանրապես, ծրագրավորողները մասնագետներ են, ովքեր կառուցում և նախագծում են օգտակար կայքեր, ծրագրեր, հավելվածներ և այլն՝ սկզբից, կամ կաղապարների և նախապես սահմանված ռեսուրսների օգնությամբ։ Պրոֆեսիոնալ Cloud Developer-ը նա է, ով ստեղծում է համակարգչային հավելվածներ և ծրագրեր: Cloud-ի մասնագետները կարող են օգտագործել նույն ծրագրակազմն ու գործիքները՝ դրանք ստեղծելու համար, ինչպես ՏՏ մյուս մշակողները: Այնուամենայնիվ, ռեսուրսները, որոնք օգտագործվում են այս մասնագետների կողմից, վերցված են cloud-based հարթակից:
                        </p>
                    </div>
                </div>

    </div>
    
</div> 


<!-- timeline end-->

<section class="images">
    <div class="img-box" data-aos="fade-down">
        <img src="./images/front.png" alt="">
    </div>
    <div class="img-box" data-aos="fade-down">
        <img src="./images/back.png" alt="">
    </div>
</section>
<div class="img-box" style="text-align:center" data-aos="fade-up">
    <img src="./images/cloud.jpg" alt="">
</div>
  

<section class="footer">
  <div class="footer-container">
    <div class="footer-box">
      <h3>Մեր կոմպանին</h3>
      <a href="#">Մեր մասին</a>
      <a href="roadmap.html">Roadmap</a>
      <a href="contact.html">Կապ մեզ հետ</a>
    </div>
          <div class="footer-box">
        <h3>Ինչպես գտնել մեզ</h3>
        <a>105 Teryan St, Yerevan</a>
        <a>mail@gmail.com</a>
        <a>+374-989357482</a>
      </div>
      <div class="footer-box3">
        <h3>Կապ մեզ հետ</h3>
        <div class="social-links">
                      <a href="asdfasdf"><i class="fab fa-facebook"></i></a>
                      <a href="asdfsaefa"><i class="fab fa-instagram"></i></a>
                      <a href="asdafsdfasdf"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      </div>
  <div class="credit"> © 2022 <span>Polytechnich</span></div>
</section>






  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

      <script >
                AOS.init({
                    duration:600,
                    delay:400
                  });
      </script>


<script src="./main.js"></script>
</body>
