<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="shortcut-icon"
      href="../static/images/icon2.png"
    />
    <link rel="icon" type="image/x-icon" href="../static/images/icon2.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      property="og:title"
      content="Տեղեկատվական և հեռահաղորդակցական տեխնոլոգիաների ու էլեկտրոնիկայի ինստիտուտ"
    />
    <meta
      property="og:title"
      content="Institute of Information and Telecommunication Technology and Electronics"
    />
    <meta name="keywords" content="polytech, it, itte, պոլիտեխնիկ, տհտէ, տտ" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>
      Տեղեկատվական և հեռահաղորդակցական տեխնոլոգիաների ու էլեկտրոնիկայի ինստիտուտ
    </title>
    <meta
      name="description"
      content="Explore our institute's cutting-edge research in information and telecommunication technologies. Learn about our faculty, programs, and facilities."
    />
    <meta
      name="description"
      content="
        Բացահայտեք տեղեկատվական և հեռահաղորդակցության տեխնոլոգիաների ոլորտում մեր ինստիտուտի առաջադեմ հետազոտությունները: Իմացեք մեր ֆակուլտետի, ծրագրերի և հարմարությունների մասին:"
    />
    <meta name="robots" content="index, follow" />
    <script defer="defer" src="/static/react/js/main.5d5a79df.js"></script>
    <link href="../static/react/css/main.196bccb6.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/static/css/loading.css"> -->
    <style>
      .title-icon {
        background-image: url("../static/images/icon.jpg");
        background-position: 0 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="load" id="loading"></div>
    <div id="root" style="display: none"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init({ duration: 400, delay: 200 });
    </script>
    <script>
      // This function will be called when everything is fully loaded
      function showMainPage() {
        document.getElementById("loading").style.display = "none";
        document.getElementById("root").style.display = "block";
      }

      window.addEventListener("load", function () {
        showMainPage();
      });
    </script>
  </body>
</html>
